---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Artículos sobre {{ tag }}
permalink: /tags/{{ tag | slugify }}/
---
<h1>Artículos sobre {{ tag }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Ver <a href="{{ '/tags/' | url }}">todas las etiquetas</a>.</p>
